<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DS Recruitment</title>
  </head>
  <body>

    <div class='fill-screen'>
        <img class='make-it-fit'
             src='http://i.imgur.com/U88F8pi.png'>
    </div>

  </body>
</html>
